.conteiner_header{
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
}

.login{
    margin-top: 30% ;
    min-height: 500px;
    max-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 40px;
    background: rgb(255, 255, 255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
}
.login::after, .login::before{
    background: rgb(255, 255, 255,0.2);
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
    content: '';
    animation-name: rotate-box;
    animation-duration: 1.5s;
}

@keyframes rotate-box{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }
}

.login h2{
    color: #ffedf9;
    margin-bottom: 50px;
    font-size: 35px;
}
.login input{
    border: none;
    outline: none;
    color: #ffedf9;
}
.login .inputs{
    width: 85%;
    margin-bottom: 30px;
    border-bottom: 3px solid #ffedf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login .inputs input{
    width: 93%;
    background: none;
    font-size: 20px;
    padding: 5px 10px 10px 0px;
}
.login .inputs input::placeholder{
    color: #e4d6df;
}
inputs
.login .btn input{
    background: #769ffe;
    font-size: 17px;
    padding: 10px 60px;
    border-radius: 10px;
    transition: 0.6s ease all;
    margin-bottom: 10px;
}
i{
    color: #d4299b;
    margin-bottom: 3px;
}
.btn input:hover{
    background: #5f7ff3;
    cursor: pointer;
}

p{
    color: #ffedf9;

}
a:hover{
    text-decoration: none;
}
