#center {
  top:30%;
}

.properties-item{
  font-size: 14px;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background-size: cover;
}

.mySlides {display:none;}

.zoom
{
  transition: transform .5s;
}
.zoom:hover
{
  transform: scale(1.5);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

.card-img-result {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
}
.img-result{
  width: 90%;
  height: 10vw;
  object-fit: scale-down;
}

.card-img-detail {
  width: 100%;
  height: 25vw;
  object-fit: scale-down;
}

.img-top-zoom {
  width: 100%;
  height: 30vw;
  object-fit: scale-down;
}
.card-img-top-secc {
  width: 40%;
  height: 15vw;
  object-fit: scale-down;
}

.list-group-item{
    height: 66%;
}

.card-horizontal {
  display: flex;
  flex: 4 4 auto;
}

hr.separator{
  border: 1px solid red;
}

.card-body{
  padding:  0.25rem;
}


